attrs
autopep8
colorama
contourpy
cycler
fonttools
ifaddr
iniconfig
kiwisolver
matplotlib
numpy
packaging
Pillow
pluggy
pycodestyle
pyparsing
pyserial
pytest
python-dateutil
pyusb
PyVISA
PyVISA-py
six
toml
typing_extensions
zeroconf
